
.score_container {
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    

}

.score_container svg {
    font-size: 1.6rem;
    cursor: pointer;
    transition: .3s;

}

.score_container svg:hover {
    fill: #7076f4;
}

.score_container input:checked~svg {
    fill: #7076f4;
}

.radio_container {
    text-align: center;
    position: relative;
}

.radio_container input {
    opacity: 0;
    position: absolute;
    top: 15px;
    left: 30px;
}

.radio_container p {
    font-style: italic;
    font-weight: 300;
    font-size: .7rem;
    margin-top: .4rem;
}